<div class="auth__main">
    <div class="auth__container">
        <router-outlet></router-outlet>
    </div>    
</div>
<div class="auth__footer">
    <div class="separator__footer">

    </div>
    <div class="auth__footer__content">
        

    <div class="left">
        <span class="auth__footer__designed text__unselecteble">Designed by <a target="blank" href="https://github.com/Krane-Cloud/">Krane</a></span>

    </div>
    <div class="right">
        <span class="auth__footer__designed text__unselecteble"><a target="blank" href="https://github.com/Krane-Cloud/WAB">Web Application Builder</a></span>
    </div>
    </div>
</div>