

.editors__container {
    position: relative;
    
    // display: flex;
    // flex: 1 auto 1;

    .editor-container {
        position: relative;
      height: calc(100vh - 600px);
    //     width: 100% !important;
        
    }
  }
@media screen and (min-width:1500px) {
    
.editors__container {
    position: relative;
    
    display: flex;
    flex: 1 auto 1;

    .editor-container {
        position: relative;
      height: calc(100vh - 300px);
        width: 100% !important;
        
    }
  }
  .container__actions{
    position: absolute;
    bottom: 0%;
    display: flex;
    width: 100%;
    flex: 1 auto 1;
    .button_save{
      position: absolute;
      left: 0%;
      width: 40%;
    }
    .button_view{
      position: absolute;
      right: 0%;
      margin-left: 1rem;
      width: 40%;
    }
  }
}