

.editors__container {
    position: relative;
    
    // display: flex;
    // flex: 1 auto 1;

    .editor-container {
        position: relative;
      height: calc(100vh - 600px);
    //     width: 100% !important;
        
    }
  }
@media screen and (min-width:1500px) {
    
.editors__container {
    position: relative;
    
    display: flex;
    flex: 1 auto 1;

    .editor-container {
        position: relative;
      height: calc(100vh - 300px);
        width: 100% !important;
        
    }
  }
}