@import "../../../layouts/styles/forms__layout.scss";


.main__container{
    height: 100%;
}

.main__basesettings{
    position: relative;
   margin-bottom: 1rem;

}
.main__showPages{
    position: relative;
    margin-top: 1rem;
}