<a matTooltip="{{item.tooltip}}"  mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}"  (click)="onItemSelected(item)"
   [ngClass]="{'active': item.href ? router.isActive(item.href[0], true): false, 'expanded': expanded}"
   class="menu-list-item">
  <mat-icon class="routeIcon">{{item.icon}}</mat-icon>
  {{item.name}}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-navigations-links *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-navigations-links>
</div>